MCC=001
MNC=01
TAC=7

APN_INTERNET=internet
APN_IMS=ims

SUBSCRIBER_IMSI=001011234567895
SUBSCRIBER_MSISDN=51999999999
SUBSCRIBER_KEY=
SUBSCRIBER_OPC=
SUBSCRIBER_AMF=8000
SUBSCRIBER_SQN=000000000000

IMS_DOMAIN=ims.mnc001.mcc001.3gppnetwork.org
PCSCF_DOMAIN=pcscf.ims.mnc001.mcc001.3gppnetwork.org
ICSCF_DOMAIN=icscf.ims.mnc001.mcc001.3gppnetwork.org
SCSCF_DOMAIN=scscf.ims.mnc001.mcc001.3gppnetwork.org

UE_INTERNET_SUBNET=10.55.0.0/16
UE_IMS_SUBNET=10.56.0.0/16

USRP_ADDR=192.168.10.2
USRP_TYPE=x300
USRP_CLOCK_SOURCE=internal
USRP_TIME_SOURCE=internal
RF_MAX_DURATION_SECONDS=60
