MCC=001
MNC=01
TAC=1
SST=1
SD=000001

DNN_INTERNET=internet
DNN_IMS=ims

SUBSCRIBER_IMSI=001011234567895
SUBSCRIBER_MSISDN=51999999999
SUBSCRIBER_KEY=
SUBSCRIBER_OPC=
SUBSCRIBER_AMF=8000
SUBSCRIBER_SQN=000000000000

IMS_DOMAIN=ims.mnc001.mcc001.3gppnetwork.org
IMS_AUTH_PASSWORD=

UE_INTERNET_SUBNET=10.60.0.0/16
UE_IMS_SUBNET=10.61.0.0/16
PING_TARGET=10.60.0.1
